p {
    color: black;
    font-weight: bold;
    text-align: center;
}

table {
    background-color: lightgrey;
    width: 100%;
}

th {
    font-style: italic;
    font-family: "Comic Sans MS";
}

h3 {

    font-family: "Comic Sans MS";
    text-align: center;
    font-style: initial;
    margin-bottom: 0.01rem;
}

img {
    height: 100%;
    width: 100%;

}

#logo {
    width: 250px;
    height: 200px;
}

body {
    background-color: lightgrey;
}

figure {
    margin-left: 10rem;
    margin-right: 10rem;
    margin-top: 2.5rem;
}

#gameForm {
    padding-left: 10rem;
}

#symb {
    width: 30px;
    height: 30px;
}

#viewStat {
    margin-left: 11rem;
    border-color: black;
    border-collapse: collapse;
    width: 70%;
    height: 50%;
}

#game {
    width: 50%;
}

#çolNo {
    width: 15%;
    text-align: center;
}

#çolName {
    width: 45%;
    text-align: center;
}

#sub {
    background-color: darkred;
    color: white;
    border-radius: 100%;
    width: 70px;
    height: 70px;
}

#saveRes {
    background-color: darkred;
    color: white;

    width: 150px;
    height: 30px;
}

#çolRes {
    width: 15%;
    text-align: center;
}

#çolDate {
    width: 25%;
    text-align: center;
}

#res {
    padding-bottom: 50px;
    background-color: burlywood;
    color: white;
    height: 25px;
    border-bottom: double;
    border-color: black;
}

#saveDetails {
    alignment: center;
}
